@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

:root {
  --primary-color: #7c59b0;
  --border-radius: 5px;
}
html {
  box-sizing: border-box;
}

body {
  font-family: Karla, sans-serif;
  margin: 0;
  background-color: var(--primary-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23faf7ff' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  min-height: 100vh;

}

h1 {
	color: white;
	padding: 20px;
	background: rgba(0,0,0,0.5);
	border-radius: var(--border-radius);
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
	width: 275px;
	margin: 20px auto 10px;
	user-select: none;
}
h1:hover {
	background: rgba(0,0,0,0.8)
}
/*Bookmarks*/
.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.item {
	background: rgba(0,0,0,0.5);
	color: white;
	border-radius: var(--border-radius);
	padding: 20px;
	margin: 10px;
}

.item:hover {
	background:rgba(0,0,0,0.6);
}

a {
 font-size: 20px;
 font-weight: bold;
 text-transform: uppercase;
}

a:link,a:visited {
	color: white;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

.name img {
	height: 10px;
	width: 20px;
	margin-right: 5px;
}

.fa-times {
	float: right;
	cursor: pointer;
	z-index: 2;
}
.name {
	margin-top: 20px;
	margin-right: 20px;
}

/*Modals*/
.modal-container {
	background: rgba(0,0,0,0.6);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.show-modal {
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal {
	background: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
	max-width: 95%;
	width: 500px;
	animation: modalOpen 2s;
}
@keyframes modalOpen {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.close-icon {
   float: right;
   color: white;
   font-size: 24px;
   position: relative;
   top: 13px;
   right: 13px;
   cursor: pointer;
}

.modal-header {
	background: var(--primary-color);
	color: white;
	padding: 15px;
}
h3 {
	margin: 0;
}

.modal-content {
	padding: 20px;
	background: whitesmoke;
}

/*form*/
.form-group {
	height: 55px;
}
.form-input {
	width: 97%;
	padding: 5px;
	border: 2px solid var(--primary-color);
	border-radius: var(--border-radius);
	display: block;
	outline: none;
}
.form-label {
	color: var(--primary-color);
	display: block;
}
button {
	cursor: pointer;
	color: white;
	background: var(--primary-color);
	height: 30px;
	width: 100px;
	border: none;
	border-radius: var(--border-radius);
	margin-top: 10px;
}

button:hover {
	filter: brightness(110%);

}
button:focus {
	outline: none;
}
/*Media Query for Large Smartphone*/
@media screen and (max-width: 600px) {
	.container {
		flex-direction: column;
	}
}